In [36]:
import numpy as np
import pandas as pd

import sys
import os

from __future__ import division, print_function

In [ ]:
os.getenv("PUIDATA")

In [ ]:
df = pd.read_csv('https://serv.cusp.nyu.edu/~fbianco/PUI2017/data/IntrotoStats_Table6_1.csv')

In [ ]:
df.shape()

In [ ]:
!curl -O

In [2]:
!ls $PUIDATA

311_Service_Requests_from_2010_to_Present_head.csv
IntrotoStats_Table6_1.csv

In [3]:
os.getenv("PUIDATA")

'/Users/Lingyi/devel/PUI2017/PUIdata'

In [9]:
df = pd.read_csv('/Users/Lingyi/devel/PUI2017/PUIdata/IntrotoStats_Table6_1.csv')

In [10]:
df.head()

  #Students Name Hair Color  Gender           Major Height Computer Experience
0          Norma      Brown  Female      Psychology   5'4"                Lots
1          Amber     Blonde  Female  Social Science   5'7"         Very Little
2           Paul     Blonde    Male         History   6'1"            Moderate
3    Christopher      Black    Male         Biology  5'10"                Lots
4          Sonya      Brown  Female      Psychology   5'4"              Little

In [37]:
df('Gender')

TypeError: 'DataFrame' object is not callable

In [12]:
df.Gender.values

array(['Female', 'Female', 'Male', 'Male', 'Female'], dtype=object)

In [13]:
df('Gender').replace('Female', 0)
#return but not change the value

TypeError: 'DataFrame' object is not callable

In [14]:
df('Gender') = df.Gender.replace('Male', 1)

SyntaxError: can't assign to function call (<ipython-input-14-fa73454ffcc8>, line 1)

In [15]:
df

  #Students Name Hair Color  Gender           Major Height Computer Experience
0          Norma      Brown  Female      Psychology   5'4"                Lots
1          Amber     Blonde  Female  Social Science   5'7"         Very Little
2           Paul     Blonde    Male         History   6'1"            Moderate
3    Christopher      Black    Male         Biology  5'10"                Lots
4          Sonya      Brown  Female      Psychology   5'4"              Little

In [16]:
df.Gender.dtype

dtype('O')

In [17]:
df.Major.dtype

dtype('O')

In [18]:
df['Computer Experience'].map

<bound method Series.map of 0           Lots
1    Very Little
2       Moderate
3           Lots
4         Little
Name: Computer Experience, dtype: object>

In [19]:
comp_dict = {'Lots':3, 'Moderate': 2, 'Little':1, 'Very Little': 0}

In [20]:
comp_dict['Lots']

3

In [21]:
comp_dict.keys()

dict_keys(['Lots', 'Moderate', 'Little', 'Very Little'])

In [22]:
comp_dict.item()

AttributeError: 'dict' object has no attribute 'item'

In [23]:
comp_dict.values()

dict_values([3, 2, 1, 0])

In [24]:
indx = np.array(comp_dict.values()) == 3

In [25]:
np.array(comp_dict.keys())[indx]

array([], dtype=object)

In [26]:
df.Gender.to_dict()

{0: 'Female', 1: 'Female', 2: 'Male', 3: 'Male', 4: 'Female'}

In [27]:
df['Computer Experience'].map(comp_dict)

0    3
1    0
2    2
3    3
4    1
Name: Computer Experience, dtype: int64

In [28]:
df['Comp_Exp'] = df['Computer Experience'].map(comp_dict)

In [29]:
df

,#Students Name,Hair Color,Gender,Major,Height,Computer Experience,Comp_Exp
0,Norma,Brown,Female,Psychology,"5'4""",Lots,3
1,Amber,Blonde,Female,Social Science,"5'7""",Very Little,0
2,Paul,Blonde,Male,History,"6'1""",Moderate,2
3,Christopher,Black,Male,Biology,"5'10""",Lots,3
4,Sonya,Brown,Female,Psychology,"5'4""",Little,1

In [ ]:
df.Height = df.Height.map()

In [31]:
def inchesToFeet(height):
    feet = int(height.split("'")[0])
    inches = int(height.strip('"').split("'")[1])
    return feet + inches / 12.

In [32]:
inchesToFeet("5'4'")

5.333333333333333

In [30]:
"5'4".split("'")

['5', '4']

In [33]:
df.Height.map(inchesToFeet)

0    5.333333
1    5.583333
2    6.083333
3    5.833333
4    5.333333
Name: Height, dtype: float64

In [34]:
df.Height = df.Height.map(inchesToFeet)

In [35]:
df

,#Students Name,Hair Color,Gender,Major,Height,Computer Experience,Comp_Exp
0,Norma,Brown,Female,Psychology,5.333333,Lots,3
1,Amber,Blonde,Female,Social Science,5.583333,Very Little,0
2,Paul,Blonde,Male,History,6.083333,Moderate,2
3,Christopher,Black,Male,Biology,5.833333,Lots,3
4,Sonya,Brown,Female,Psychology,5.333333,Little,1

In [ ]:
openweathermap.org